@import "../../../Styles/_vars.scss";
@import "../../../Styles/_themes.scss";

@include themify($themes) {

    .button {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        padding: 10px;
        border: none;
        font-weight: 500;
        border-radius: 4px;
        min-width: 150px;
        color: white;
        width: fit-content;

        background-color: themed("secondary");

        &--small {
            min-width: 100px;
            min-height: 30px;
            font-size: 12px;
        }

        &--full-width {
            width: 100% !important;
        }

        &--dynamic-width {
            padding-left: 20%;
            padding-right: 20%;
        }

        &:disabled {
            background-color: white !important;
        }

        &--primary {
            background-color: themed("primary");
        }

        &--secondary {
            background-color: themed("secondary");
        }



    }
}
