@import "../../Styles/_vars.scss";
@import "../../Styles/_themes.scss";

@include themify($themes) {

    .auth {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: themed("background");

        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            padding: 32px 40px;
            box-shadow: 0 0 10px lightgrey;
            background-color: themed("background");

            > .light-icon {
                color: white;
            }

            > .light-icon, .dark-icon {
                cursor: pointer;
                padding-top: 20px;
            }
        }

        &__logo {
            font-size: 48px !important;
            padding-bottom: 20px;
        }

        section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

    }

    .form__input {
        width: 100%;
        padding-bottom: 20px;
    }

    .tabs--selector {
        width: 100%;
        position: absolute;
        top: 0;
        padding: 10px;
    }

    .forgot-password > .text {
        text-decoration: underline;
        cursor: pointer;
    }

    .auth__container__body > form {
        width: 100%;
    }
}
